//Main

@import _include-media
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, desktop-large: 1440px, _4k: 2560px)
@import _slick-section
@import _post-preview-card2

html,body
  max-width: 100%
  width: 100%
html
  scroll-behavior: smooth
  padding-top: 105px
  p
  a
    color: black
    font-weight: 600
  ul
    li
  img
    width: 100%
    height: auto

.anchor
  display: block
  position: relative
  top: -130px
  visibility: hidden

.container
  max-width: 700px

#menu-wrapper
  position: fixed
  z-index: 100
  top: 0
  left: 0
    width: 100vw
  max-width: 100%
  padding-bottom: 15px
  padding-top: 10px
  background: white

  .website-heading
    width: 100%
    display: flex
    justify-content: center
    align-items: baseline
    margin: 0 auto
    .logo
      width: 60px
    h1
      display: inline-block
      font-size: 23px
      margin: 0
      margin-left: 10px
  .menu-wrapper
    width: 100%
    ul.menu
      width: 100vw
      display: flex
      list-style: none
      padding: 0
      margin: 0
      justify-content: center
      flex-wrap: wrap
      li
        margin-right: 16px
        font-size: 16px
        margin-top: 10px

.section
  margin-bottom: 30px
  h2
    font-size: 34px
    margin-bottom: 20px
    font-weight: 100
    color: #000000

#projects-section
  h3
    margin-top: 15px
  .project
    &:not(:last-child)
      border-bottom: 3px dotted #2a2e32
      border-bottom-style: dashed
      margin-bottom: 30px
    .cover
    .title
    .description

#aboutus-section
  p
    ul
      li
    img

#exhibitions-section
  ul
    li
  p

#contacts-section
  p
  a
